@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Archivo:wght@100..900&display=swap');

:root {
  --bg-color: #f9f5ef;
  --text-color: #000000;
  --link-color: #000000;
  --links-color: #787878;
  --button-bg: #000000;
  --button-text: #ffffff;
  --border-color: #eeeeee;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #fefce1;
  --link-color: #fefce1;
  --links-color: #787878;
  --button-bg: #fefce1;
  --button-text: #272424;
  --border-color: #202020;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
 
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}


nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 38px;
  padding-bottom: 10px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.85em;
}

.toggle-button {
  margin-left: auto;
  background: none;
  border: none;
  color: var(--link-color);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  background-color: var(--bg-color);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  max-width: 1200px;
   margin: auto;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0px;
  column-gap: 70px;
 
}

.left-column, .right-column {
  flex: 1;
  min-width: 300px;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight:500;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.links{
  font-size: 0.8em;
  color:var(--links-color);
  font-weight:500;
}
.venture-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 10px;
}

.venture-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.venture-item {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 11px;
}
.about-content {
  width: 550px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.venture-item a {
  font-weight: bold;
  color: var(--link-color);
  text-decoration: none;
  min-width: 120px;
}

.venture-item span {
  color: var(--text-color);
  min-width: 120px;
  padding-right: 10px;
}



/* TABLET: Display two columns, hide 3rd span */
@media (max-width: 1200px) {
  .venture-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .venture-item a {
    font-weight: bold;
    color: var(--link-color);
    text-decoration: none;
    min-width: 10px;
  }
  
  .venture-item span {
    color: var(--text-color);
    min-width: 10px;
    padding-right: 10px;
  }


}

/* MOBILE: Stack in one column */
@media (max-width: 600px) {
  .venture-list {
    grid-template-columns: 1fr;
    gap: 10px;
  }

}




.arrow-icon {
  display: inline-block;
  vertical-align: middle;
}

.small-text {
  font-size: 0.9em;
  color: var(--text-color);
  opacity: 0.7;
  margin-bottom: 20px;
  
}
.mid-text {
  font-size: 1.15em;
  color: var(--text-color);
  width:100%;
}


p, a, li {
  font-size: 1em;
  color: var(--text-color);
  line-height: 1.6em;
  text-decoration: none;
}

.logo-container {
 height:70px;
}

.separator{
margin-top: 129px;
}

.separator-one{

  margin-top:84px;
}

.logo-light {
  display: block;
  margin-top: 40px;
  width: 106px;
}

.logo-dark {
  display: none;
  margin-top: 40px;
  width: 106px;
}

.dark-mode .logo-light {
  display: none;
}

.dark-mode .logo-dark {
  display: block;
}


.btn {
  display: inline-block;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 5px 10px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.7em;
  margin-top:10px;
}

.company-image {
  width: 500px;
  margin-top: 20px;
  object-fit: cover;
  margin-bottom: 10px;
}

.venture-positions ul {
  list-style: none;
  padding: 0;
  margin: 0px 10px 0px 0px;

}

.venture-positions li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
  font-size: 0.8em;
  color: var(--text-color);
}

.venture-positions img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.trusted-logos{
margin-bottom:20px; 
display: flex; 
flex-wrap: wrap; 
gap: 20px; 
align-items: left; 
justify-content: left;
}

.press-list{

  font-size:0.8em;
}


.glassdoor-logo {
  width: 80px;
  height: auto;
}
.reviews {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: left;
  font-size:11px;

}
.review-card {
  text-align: left;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 100px;
}
.review-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review-text {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.role{

  font-size:11px;
}

.padd-abc{

 display: flex; 
 justify-content: center; 
 padding-top: 60px;


}


.press-list {
  list-style-type: none;
  padding: 0;
}
.press-list li {
  margin-bottom: 10px;
}
.press-list a {
  text-decoration: none;
  color: var(--link-text);;
  font-weight: 500;
}

.blog-preview {
  margin-top: 50px;
  border-top: 1px solid var(--border-color);
  padding-top: 30px;
}

.blog-preview em {
  opacity: 0.7;
}

.disclaimer {
  font-size: 0.8em;
  color: var(--text-color);
  opacity: 0.6;
  margin: 10px 0 20px;
  text-align: left;
  width:52%;
  
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid var(--border-color);
  font-size: 0.8em;
  color: var(--text-color);
  width: 100%;
padding-top: 100px;
    margin-top: 82px !important;
    padding-bottom: 100px;
}

.footer-left a, .footer-right a {
  color: var(--text-color);  

}


.footer-icons {
  width: 38px;
  height: 20px;
  gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    align-items: flex-start

}
.footer-icons svg {
  color: var(--link-color); /* uses your theme link color */
  transition: color 0.3s ease;
}

.footer-icons a:hover svg {
  color: var(--text-color); /* change color slightly on hover */
}

.paragraph-about {
  margin-top:20px;
  width: 550px;
  text-align: left;
  font-size:0.8em;

}

.metrics-section{
margin-top: 30px; 
display: flex; 
gap: 60px; 
flex-wrap: wrap;
}

#mobile-menu{
 border: solid;
 border-width: 1px;
 border-color: #252525;
 background-color:var(--bg-color);
 display: none; position: absolute; 
 top: 60px; 
 right: 20px; 
 border-radius: 8px; 
 padding: 20px; 
 z-index: 1000;}

@media (max-width: 945px) {
  nav {
    justify-content: center;
    flex-wrap: wrap;
  }
  .hero {
    flex-direction: column;
  }
  .venture-positions li {

   display:block;
 
  }
  footer {
    flex-direction: row;
    text-align: left;

  }
  .footer-right {
    text-align: left;
    margin-top: 20px;
  }

  .disclaimer {

    width:85%;
    
  }
}
@media (max-width: 768px) {
  .logo-dark {
    margin-top: 18px;
  }
  .review-card {
  
    margin-bottom: 40px;
  }
    
  nav {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0px; 
    padding-bottom: 0px;
}
}

 
@media (min-width: 769px) {
  #mobile-menu {
    display: none;
  }
  
}


@media (max-width: 768px) {

  .separator{
    margin-top: 53px;
    
  }
  

.container {
  
  padding: 0;

}
.separator-one{
  margin-top: 20px;
}
.company-image{
  width: 355px;
}

header {
  
  padding: 0;

}

.paragraph-about {
  width: 100%;

}

.padd-abc {

  padding-top:0px;
}

.metrics-section {

  flex-direction: row;
  flex-wrap: nowrap;
  gap:10px
}

.about-content {

  padding-top: 0px;
  width: 100%;
}

.trusted-logos{
  margin-bottom: 25px;
  gap: 2px;
  justify-content: flex-start;

  }

  .mid-text {
    font-size: 0.9em;
 
}

.venture-positions{

  margin-bottom: 50px;
}


}

html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.layout-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
